<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <h3>Numero de pos: <%=equipo.pos_sunmi %></h3>
        <h3>Numero de cuenta: <%= equipo.numero_cuenta %></h3>
        <h3>Fecha de ingreso del mail: <%= equipo.fecha_ingreso_mail %></h3>
        <h3>Hora de ingreso del mail: <%= equipo.hora_ingreso_mail %></h3>
        <h3>Tipo de alta: <%= equipo.CuentaTipoAlta.tipo %></h3>
        <!-- <h3>Distribuidor nuevo: <%= equipo.distribuidor_nuevo %></h3> --> <!-- revisar como visualizar el dato del distribuidor -->
        <h3>Distribuidor: <%= equipo.CuentaDistribuidor.nombre %></h3>
        <div>
            <a href="/editar/<%= equipo.busqueda_x_id %>"><button>Editar</button></a>
            <a href="/procesos/<%= equipo.busqueda_x_id %>"><button>Cargar nuevo proceso</button></a>
        </div>
        <a href="/resultados/historial/<%= equipo.busqueda_x_id %>">Información estado de los proceso</a>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>