<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <h3>Equipo PBX</h3>
        <form action="/guardar_editado" method="POST">
            <div class="campos_formulario">
                <label>Fecha de ingreso del mail</label>
                <input type="date" name="fecha_mail">
            </div>
            <div class="campos_formulario">
                <label>Número de pos</label>
                <input type="text" name="numero_pos">
            </div>
            <div class="campos_formulario">
                <label>Tipo de alta</label>
                <select name="tipo_alta">
                    <option value="" >Seleccioná opción</option>
                    <% for(let tipo_alta of tipos_alta) { %>
                        <option value="<%= tipo_alta.id %>"><%= tipo_alta.tipo %></option>
                        <% } %>
                </select>
            </div>
            <div class="campos_formulario">
                <label>Distribuidor</label>
                <select name="distribuidor">
                    <option value="">Seleccioná distribuidor</option>
                    <% for(let distribuidor of distribuidores){ %> 
                        <option value="<%= distribuidor.id %>"><%= distribuidor.nombre %></option>
                    <% } %>
                </select>
            </div>
            <div class="campos_formulario">
                <label>Distribuidor nuevo</label>
                <input type="text" name="distribuidor_nuevo">
            </div>
            <div class="campos_formulario">
                <label>Numero de cuenta</label>
                <input type="text" name="numero_cuenta">
            </div>
            <div class="botones_formulario">
                <button type="submit">Editar</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>