<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <h4>Historial registro <%= equipo.busqueda_x_id %></4>
            <% if(equipo.CuentaEtapa1Id !== null){%>
                <div class="item_etapa">
                    <p><%= equipo.CuentaEtapa1.etapa %></p>
                    <p><%= equipo.CuentaEstado1.estado %></p>
                    <p><%= equipo.CuentaResponsable1.nombre %></p>
                </div>
            <% } %>
            <% if(equipo.CuentaEtapa2Id !== null){ %>
                <div class="item_etapa">
                    <p><%= equipo.CuentaEtapa2.etapa %></p>
                    <p><%= equipo.CuentaEstado2.estado %></p>
                    <p><%= equipo.CuentaResponsable2.nombre %></p>
                </div>
            <% } %>
            <% if(equipo.CuentaEtapa3Id !== null){ %>
                <div class="item_etapa">
                    <p><%= equipo.CuentaEtapa3.etapa %></p>
                    <p><%= equipo.CuentaEstado3.estado %></p>
                    <p><%= equipo.CuentaResponsable3.nombre %></p>
                </div>
            <% } %>
            <% if(equipo.CuentaEtapa4Id !== null){ %>
                <div class="item_etapa">
                    <p><%= equipo.CuentaEtapa4.etapa %></p>
                    <p><%= equipo.CuentaEstado4.estado %></p>
                    <p><%= equipo.CuentaResponsable4.nombre %></p>
                </div>
            <% } %>
            <% if(equipo.CuentaEtapa5Id !== null){ %>
                <div class="item_etapa">
                    <p><%= equipo.CuentaEtapa5.etapa %></p>
                    <p><%= equipo.CuentaEstado5.estado %></p>
                    <p><%= equipo.CuentaResponsable5.nombre %></p>
                </div>
            <% } %>
            <% if(equipo.CuentaEtapa6Id !== null){ %>
                <div class="item_etapa">
                    <p><%= equipo.CuentaEtapa6.etapa %></p>
                    <p><%= equipo.CuentaEstado6.estado %></p>
                    <p><%= equipo.CuentaResponsable6.nombre %></p>
                </div>
            <% } %>
            <% if(equipo.CuentaEtapa7Id !== null){ %>
                <div class="item_etapa">
                    <p><%= equipo.CuentaEtapa7.etapa %></p>
                    <p><%= equipo.CuentaEstado7.estado %></p>
                    <p><%= equipo.CuentaResponsable7.nombre %></p>
                </div>
            <% } %>
            <% if(equipo.CuentaEtapa8Id !== null){ %>
                <div class="item_etapa">
                    <p><%= equipo.CuentaEtapa8.etapa %></p>
                    <p><%= equipo.CuentaEstado8.estado %></p>
                    <p><%= equipo.CuentaResponsable8.nombre %></p>
                </div>
            <% } %>
            <a href="/procesos/<%= equipo.busqueda_x_id %>"><button>Cargar o modificar proceso</button></a>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>