<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %> 
<body>
    <%- include("./parciales/header") %>
    <main>
        <div class="contenedor_busqueda">
            <form action="/resultados" method="POST">
                <p style="color:red" class="validaciones"><%= locals.errores && errores.nr_serie ? errores.nr_serie.msg : "" %></p>
                <!-- <P style="color:red"><%= locals.errores && errores.nr_cuenta ? errores.nr_cuenta.msg : "" %></P> -->
                <input type="text" placeholder="Número de pos" name="nr_serie" value="<%= locals.datos && datos.nr_serie ? datos.nr_serie : '' %>">
                <P style="color:red" class="validaciones"><%= locals.errores && errores.nr_cuenta ? errores.nr_cuenta.msg : "" %></P>
                <input type="text" placeholder="Número de cuenta" name="nr_cuenta" value="<%= locals.datos && datos.nr_cuenta ? datos.nr_cuenta : '' %>">
                <button type="submit">Buscar</button>
            </form>
        </div>
            <h1 class="titulo_formulario">Cargar equipo nuevo</h1>
            <div class="contenedor_crear">
                <form action="/guardar" method="POST" class="formulario">
                    <div class="contenedor_inputs">
                        <div class="inputs_1">
                            <div class="campos_formulario">
                                <!-- <p style="color:red"><%= locals.errores && errores.fecha_mail ? errores.fecha_mail.msg: "" %></p> -->
                                <label>Fecha de ingreso del mail</label>
                                <input type="date" class="input_crear" name="fecha_mail" value="<%= locals.datos && datos.fecha_mail ? datos.fecha_mail : '' %>">
                            </div>
                            <div class="campos_formulario">
                                <!-- <p style="color:red"><%= locals.errores && errores.hora_mail ? errores.hora_mail.msg : "" %></p> -->
                                <label>Hora de ingreso del mail</label>
                                <input type="time" class="input_crear" name="hora_mail" value="<%= locals.datos && datos.hora_mail ? datos.hora_mail : '' %>">
                            </div>
                            <div class="campos_formulario">
                                <!-- <p style="color:red"><%= locals.errores && errores.numero_pos ? errores.numero_pos.msg : "" %></p> -->
                                <label>Número de pos</label>
                                <input type="text" class="input_crear" name="numero_pos" value="<%= locals.datos && datos.numero_pos ? datos.numero_pos : '' %>">
                            </div>
                        </div>
                        <div class="inputs_2">
                            <div class="campos_formulario">
                                <!-- <p style="color:red"><%= locals.errores && errores.tipo_alta ? errores.tipo_alta.msg : "" %></p> -->
                                <label>Tipo de alta</label>
                                <select name="tipo_alta" class="input_crear">
                                    <option value="">Seleccioná opción</option>
                                    <% for(let tipo_alta of tipos_alta) { %>
                                        <option value="<%= tipo_alta.id %>"<%= locals.datos && (datos.tipo_alta == tipo_alta.id) ? 'selected':null %>><%= tipo_alta.tipo %></option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="campos_formulario">
                                <!-- <p style="color:red"><%= locals.errores && errores.distribuidor ? errores.distribuidor.msg : "" %></p> -->
                                <label>Distribuidor</label>
                                <select name="distribuidor" class="input_crear">
                                    <option value="">Seleccioná distribuidor</option>
                                    <% for(let distribuidor of distribuidores){ %> 
                                        <option value="<%= distribuidor.id %>"<%= locals.datos && (datos.distribuidor == distribuidor.id) ? 'selected':null %>><%= distribuidor.nombre %></option>
                                    <% } %>
                                </select>
                            </div>
                            <!-- <div class="campos_formulario">
                                <label>Distribuidor nuevo</label>
                                <input type="text" name="distribuidor_nuevo">
                            </div> -->
                            <div class="campos_formulario">
                                <!-- <p style="color:red"><%= locals.errores && errores.numero_cuenta ? errores.numero_cuenta.msg : "" %></p> -->
                                <label>Número de cuenta</label>
                                <input type="text" class="input_crear" name="numero_cuenta" value="<%= locals.datos && datos.numero_cuenta ? datos.numero_cuenta : '' %>">
                            </div>
                            <div class="botones_formulario">
                                <button type="submit">Continuar</button>
                                <button type="reset">Cancelar</button>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="botones_formulario">
                        <button type="submit">Continuar</button>
                        <button type="reset">Cancelar</button>
                    </div> -->
                </form>
            </div>
        </div>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>