<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <h3>Agregar nuevo proceso</h3>
        <form action="/procesos/<%= cuenta.busqueda_x_id %>" method="POST"> <!-- cambié la ruta de post-->
            <div class="campos_formulario">
                <label>Ocultar input</label>
                <input type="text" name="busqueda_x_id" value="<%= cuenta.busqueda_x_id %>">
            </div>
            <div class="campos_formulario">
                <p style="color:red"><%= locals.errores && errores.proceso ? errores.proceso.msg : "" %></p>
                <label>Proceso</label>
                <select name="proceso">
                    <option value="">Seleccioná etapa</option>
                    <% for(let proceso of procesos) { %>
                        <option value="<%= proceso.id %>"><%= proceso.etapa %></option>
                    <% } %>
                </select>
            </div>
            <div class="campos_formulario">
                <p style="color:red"><%= locals.errores && errores.estado ? errores.estado.msg : "" %></p>
                <label>Estado</label>
                <select name="estado">
                    <option value="">seleccioná estado</option>
                    <% for(let estado of estados) { %>
                        <option value="<%= estado.id %>"><%= estado.estado %></option>
                    <% } %>
                </select>
            </div>
            <div class="campos_formulario">
                <p style=" color:red"><%= locals.errores && errores.responsable ? errores.responsable.msg : "" %></p>
                <label>Responsable</label>
                <select name="responsable">
                    <option value="">Seleccioná responsable</option>
                    <% for(let responsable of responsables){ %>
                        <option value="<%= responsable.id %>"><%= responsable.nombre %></option> 
                    <% } %>
                </select>
            </div>
            <div class="botones_formulario">
                <button type="submit">Aceptar</button>
                <button type="reset">Cancelar</button>
            </div>
        </form>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>