<!DOCTYPE html>
<html lang="en">
<%- include("./parciales/head") %>
<body>
    <%- include("./parciales/header") %>
    <main>
        <div class="procesos_exitosos">
            <h1 class="titulo_exitoso">Proceso guardado</h1>
            <div class="botones_exitoso">
                <a href="/procesos/<%= equipo.busqueda_x_id %>" class="botones_general">Cargar nuevo proceso</a> <!-- modificar la ruta a parametrizada -->
                <a href="/" class="botones_general">Finalizar</a>
                <a href="/resultados/historial/<%= equipo.busqueda_x_id %>" class="botones_general">Información estado de los procesos</a>
            </div>
        </div>
    </main>
    <%- include("./parciales/footer") %>
</body>
</html>